#tabs .tab{
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
    position: relative;
    z-index: 5;
}
#tabs .whiteborder{
    border: 1px solid #707070;
    border-bottom: 2px solid #fff;
    border-radius: 3px 3px 0 0;
}
#tabs .tabContent{
    width: fit-content;
    border: 1px solid #707070;
    position: relative;
    top: -1px;
    z-index: 1;
    padding: 10px;
    border-radius:0 0 3px 3px ;
}
#tabs .hide{
    display: none;
}
#tabs .show{
    display: block;
}
.d-flex{
    display: flex;
}
#block{
    width: 100px;
    height: 100px;
    background:green;
    border-radius: 0%;
}
.textarea{
    justify-content: center;
    align-items: center;
    width: 70%
}